@model IEnumerable<Ramal.App.ViewModels.EmailViewModel>

@{
    ViewData["Title"] = "CaixaEmail";
}

<h1 class="mt-5 mb-4">@ViewData["Title"]</h1>

<p class="mb-3">
    <a class="btn btn-secondary"  asp-action="Create">Novo Email</a>
</p>
<table class="table table-hover tabela">
    <tr>
        <th colspan="2">
            Email:
            <input class="form-control" type="text" placeholder="Filtrar nome" />
        </th>
        <th colspan="3">          
            Setor:
            <input class="form-control" type="text" placeholder="Filtrar setor" />
        </th>
    </tr>
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor.Nome)
            </td>
                <td class="text-right">
                <a class="btn btn-warning text-white"  asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
