@model IEnumerable<Ramal.App.ViewModels.ComputadorViewModel>

@{
    ViewData["Title"] = "Computadores";
}

<h1 class="mt-5 mb-4">@ViewData["Title"]</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Novo Computador</a>
</p>

<div class="tabela filter">
    <div>
        <strong>Hostname:</strong>
        <input class="form-control" type="text" placeholder="Filtrar hostname" />
    </div>
    <div>
        <strong>Setor:</strong>
        <select class="custom-select filtro">
            <option value="" selected>Filtrar setor</option>
            <option>Informática</option>
            <option>Administração</option>
            <option>Recepção</option>
            <option>Produção</option>
            <option>Qualidade</option>
            <option>Jurídico</option>
            <option>Recursos Humanos</option>
            <option>Contratação</option>
            <option>Comercial</option>
            <option>Diretoria</option>
            <option>Secretaria</option>
            <option>Telefonia</option>
            <option>Orçamento</option>
            <option>Contabilidade</option>
            <option>Financeiro</option>
            <option>Elétrica</option>
            <option>Compras</option>
            <option>Vigia</option>
            <option>Segurança</option>
            <option>Delima</option>
            <option>Departamento Médico</option>
            <option>Restaurante</option>
            <option>Portaria</option>
            <option>Portaria Maruí</option>
        </select>
    </div>
</div>

<table class="table table-hover tabela">   
    <thead class="thead-dark line headerr">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SistemaOperacional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center row">
                <td class="cell">
                @Html.DisplayFor(modelItem => item.Hostname)
            </td>
                <td class="cell">
                 @Html.DisplayFor(modelItem => item.Setor.Nome)
            </td>
            <td class="cell">
                @Html.DisplayFor(modelItem => item.Cpu)
            </td>
                <td class="cell">
                @Html.DisplayFor(modelItem => item.Memoria)
            </td>
                <td class="cell">
                @Html.DisplayFor(modelItem => item.Disco)
            </td>
                <td class="cell">
                @Html.DisplayFor(modelItem => item.SistemaOperacional)
            </td>
             <td class="cell">
                <a class="btn btn-warning text-white"  asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
