@using Ramal.App.Extensions
@model IEnumerable<Ramal.App.ViewModels.FuncionarioViewModel>

@{
    ViewData["Title"] = "Ramais";
}

<h1 class="mt-5 mb-4">@ViewData["Title"]</h1>

<p supress-by-claim-name="Funcionario" supress-by-claim-value="Adicionar" class="mb-3">
    <a class="btn btn-secondary" asp-action="Create">Novo Ramal</a>
</p>

<table class="table table-hover tabela">
    <tr>
        <th colspan="3">
            Nome:
            <input class="form-control" type="text" placeholder="Filtrar nome" />
        </th>
        <th colspan="3">
            Setor:
            <input class="form-control" type="text" placeholder="Filtrar setor" />
        </th>
    </tr>
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ramal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-right">
                <a class="btn btn-warning text-white" supress-by-claim-name="Funcionario" supress-by-claim-value="Editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-danger" supress-by-claim-name="Funcionario" supress-by-claim-value="Excluir" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
